#page {
  margin-bottom: 330px; }
  #cv #page, #portfolio #page {
    margin-bottom: 170px; }
  #hello #page {
    margin-bottom: 0; }

article,
footer,
#portfolio h6 {
  padding-top: 3%;
  padding-bottom: 3%;
  padding-right: -webkit-calc(50% - 20em);
  padding-right: -moz-calc(50% - 20em);
  padding-right: calc(50% - 20em);
  padding-left: -webkit-calc(50% - 20em);
  padding-left: -moz-calc(50% - 20em);
  padding-left: calc(50% - 20em); }

figure,
article,
img,
blockquote,
#portfolio li {
  position: relative;
  z-index: 2; }
  figure.hello,
  article.hello,
  img.hello,
  blockquote.hello,
  #portfolio li.hello {
    z-index: 3; }

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1; }

#portfolio #page i {
  font-size: 90px; }
