@import url(reset.css);
/* BY TORUNN SEIM SKROGSTAD
-------------------------------------*/
body {
  font-weight: normal;
  height: 100%;
  font-size: 1em; }
  body .home {
    background-color: #f1e5f3;
    color: #698672; }

#page {
  position: relative; }

body {
  background: #000; }
  body#hello {
    background: #9cc5a3; }
  body#cv {
    background: #e34b64; }
  body#givey {
    background: #c82650; }
  body#tdc {
    background: #c00816; }

footer {
  padding: 10px;
  color: rgba(255, 255, 255, 0.7); }
  footer.social {
    background: transparent; }
  footer a,
  footer a:visited {
    color: #fff !important;
    border-color: #fff !important;
    background-color: transparent !important;
    padding: 0 !important; }
    footer a:hover, footer a:focus,
    footer a:visited:hover,
    footer a:visited:focus {
      color: #dff86b !important;
      border-color: #dff86b !important; }
  #cv footer, #portfolio footer {
    text-align: center; }

header {
  padding: 0;
  text-transform: uppercase;
  position: relative;
  font-size: 0.7em; }
  #hello header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3; }
  header img {
    display: none; }
  header h1 {
    line-height: 54px;
    margin: 0;
    padding: 0 1em;
    font-size: 1em; }
    header h1 a, header h1 a:visited {
      color: rgba(255, 255, 255, 0.6);
      border-bottom: 0; }

#toggle {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 2em;
  line-height: 54px;
  border-bottom: 0;
  display: block;
  background: #dff86b; }
  #toggle:hover, #toggle:focus {
    background-color: #d8fb60; }
  #toggle:active {
    background-color: #f6feda;
    color: #000; }
  #toggle i {
    display: none;
    font-family: 'torunn';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
    #toggle i:after {
      content: "\e607"; }

nav {
  display: none; }
  nav ul, nav li {
    list-style: none;
    margin: 0;
    padding: 0; }
  nav a,
  nav a:visited {
    display: block;
    border-bottom: 0;
    line-height: 54px;
    padding: 0 1em;
    margin: 0;
    background: transparent;
    border: none;
    color: #fff; }
    nav a:hover, nav a:focus,
    nav a:visited:hover,
    nav a:visited:focus {
      background: rgba(255, 255, 255, 0.2);
      color: #fff; }
      nav a:hover:active, nav a:focus:active,
      nav a:visited:hover:active,
      nav a:visited:focus:active {
        color: #000;
        background: #d8fb60; }
  nav .active a,
  nav .active a:visited {
    background-color: #dff86b;
    color: #000; }
    nav .active a:hover, nav .active a:focus,
    nav .active a:visited:hover,
    nav .active a:visited:focus {
      background-color: #eafaa1; }
      nav .active a:hover:active, nav .active a:focus:active,
      nav .active a:visited:hover:active,
      nav .active a:visited:focus:active {
        background-color: #fbfeee; }

blockquote {
  zoom: 1;
  text-align: center;
  padding: 3em;
  color: #fff; }
  blockquote:before {
    content: "";
    display: table; }
  blockquote:after {
    content: "";
    display: table;
    clear: both; }

article {
  margin: 0;
  padding: 3%;
  background: #fff;
  position: relative;
  zoom: 1; }
  article.hello {
    background: #fdfff2; }
  #gopro article {
    text-align: center; }
  article:before {
    content: "";
    display: table; }
  article:after {
    content: "";
    display: table;
    clear: both; }
  blockquote article {
    background: transparent; }

figure {
  background: #fff; }
  article figure {
    background: transparent; }

.twitter-tweet {
  margin: 0 auto 1.5em !important; }

.example.squid {
  max-width: 150px !important; }

@media only screen and (min-width: 320px) {
  .example {
    max-width: 300px;
    width: 50%;
    float: right;
    margin: 0 0 2% 5%; }
    #tdc .example {
      max-width: 48%; } }
#video {
  background-color: black;
  width: 100%; }

figcaption,
.caption {
  padding: 1.5em 0;
  font-size: 0.7em;
  color: #aaa;
  text-align: center;
  display: block; }

.social {
  background: #50307f;
  color: #fff;
  text-align: center; }
  .social ul {
    margin: 0;
    padding: 0; }
  .social a,
  .social a:visited {
    color: #fff;
    border-color: #fff; }
  .social li {
    display: inline; }
    .social li a,
    .social li a:visited {
      color: #fff;
      border-bottom: 0;
      background-color: #8969b8;
      border-radius: 100%;
      width: 30px;
      height: 30px;
      display: inline-block; }
      .social li a:hover, .social li a:focus,
      .social li a:visited:hover,
      .social li a:visited:focus {
        background-color: #db82af; }
      .social li a i,
      .social li a:visited i {
        font-family: 'torunn';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        margin-right: 3px;
        padding: 7px;
        display: block;
        font-size: 16px;
        border-radius: 100%; }
      .social li a.twitter i:after,
      .social li a:visited.twitter i:after {
        content: "\e605"; }
      .social li a.dribbble i:after,
      .social li a:visited.dribbble i:after {
        content: "\e606"; }
      .social li a.instagram i:after,
      .social li a:visited.instagram i:after {
        content: "\e600"; }
      .social li a.flickr i:after,
      .social li a:visited.flickr i:after {
        content: "\e602"; }
      .social li a.vimeo i:after,
      .social li a:visited.vimeo i:after {
        content: "\e601"; }
      .social li a.linkedin i:after,
      .social li a:visited.linkedin i:after {
        content: "\e603"; }
      .social li a span,
      .social li a:visited span {
        display: none; }

#portfolio h6 {
  padding: 3%; }
#portfolio #page {
  color: #fff; }
  #portfolio #page ul {
    margin: 0;
    padding: 0; }
  #portfolio #page li {
    position: relative; }
    #portfolio #page li h6 {
      margin-bottom: 0; }
    #portfolio #page li.givey {
      background-color: #c82650; }
      #portfolio #page li.givey i {
        color: #c82650; }
    #portfolio #page li.tedx {
      background-color: #fff;
      color: #e62b1e; }
      #portfolio #page li.tedx i {
        color: #fff; }
    #portfolio #page li.tdc {
      background-color: #dff86b;
      color: #000; }
      #portfolio #page li.tdc i {
        color: #dff86b; }
    #portfolio #page li > a {
      display: block;
      position: relative;
      border-bottom: 0; }
    #portfolio #page li b {
      position: absolute;
      top: 50%;
      left: 10px;
      right: 10px;
      text-align: center;
      z-index: 3; }
      #portfolio #page li b .button {
        background: rgba(0, 0, 0, 0.3);
        border: 3px solid #fff;
        color: #fff; }
        #portfolio #page li b .button:hover, #portfolio #page li b .button:focus {
          border-color: #f44975;
          color: #f44975;
          background: rgba(0, 0, 0, 0.6); }
  #portfolio #page i {
    font-family: 'torunn';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: red;
    height: 0px;
    position: relative;
    display: block;
    font-size: 30px;
    z-index: 4;
    text-align: center; }
    #portfolio #page i:after {
      content: "\e607"; }

#cv article:nth-child(2n+1) {
  background-color: #fff9fa; }
#cv article ul {
  border-left: 4px solid #555;
  padding: 0 0 0 20px; }
  #cv article ul p {
    font-size: 0.8em;
    margin-bottom: 0.5em; }
  #cv article ul h6 {
    margin-bottom: 0.2em; }
  #cv article ul li {
    margin-bottom: 1.5em; }
#cv .key-skills ul {
  border-left: none;
  padding: 0; }
  #cv .key-skills ul ul {
    padding: 0 0 0 20px; }
    #cv .key-skills ul ul li {
      margin-bottom: 0.4em;
      list-style: square outside none;
      font-size: 0.8em; }

.references {
  padding: 0; }
  .references blockquote {
    height: 350px;
    background: #333;
    color: #ccc;
    padding: 3em 3% 3em;
    text-align: center; }
    .references blockquote a,
    .references blockquote a:visited {
      color: #fff;
      border-color: #fff; }
      .references blockquote a:hover, .references blockquote a:focus,
      .references blockquote a:visited:hover,
      .references blockquote a:visited:focus {
        color: #e34b64;
        border-color: #e34b64; }
    .references blockquote h6 {
      max-width: 30em;
      margin: 0 auto 1em; }
  .references li:nth-child(2n+0) blockquote {
    background: #e2f0e6;
    color: #444; }
    .references li:nth-child(2n+0) blockquote a,
    .references li:nth-child(2n+0) blockquote a:visited {
      color: #444;
      border-color: #444; }
      .references li:nth-child(2n+0) blockquote a:hover, .references li:nth-child(2n+0) blockquote a:focus,
      .references li:nth-child(2n+0) blockquote a:visited:hover,
      .references li:nth-child(2n+0) blockquote a:visited:focus {
        color: #e34b64;
        border-color: #e34b64; }
    #cv .references li:nth-child(2n+0) blockquote {
      background: #e5f59d; }

i.reference {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-bottom: 0;
  font-family: 'torunn';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 0px;
  position: relative;
  display: block;
  font-size: 30px;
  color: #fdfff2;
  z-index: 4;
  text-align: center; }
  i.reference:after {
    content: "\e607"; }

.cta {
  background: #c9e1d0; }
  .cta h4 {
    text-align: center; }
  .cta a,
  .cta a:visited {
    color: #333;
    border-color: #333; }
    .cta a:hover, .cta a:focus,
    .cta a:visited:hover,
    .cta a:visited:focus {
      color: #000;
      border-color: #000; }

.dribbble {
  margin-bottom: 1em;
  zoom: 1; }
  .dribbble:before {
    content: "";
    display: table; }
  .dribbble:after {
    content: "";
    display: table;
    clear: both; }
  .dribbble li {
    width: 50%;
    padding: 0 5px 5px 0;
    float: left;
    clear: none; }
  .dribbble img {
    border: 5px solid #fff; }

#givey article:nth-child(2n+3) {
  background-color: #fcfaff; }
#givey blockquote {
  background: #c82650; }
#givey blockquote article {
  background: #ac1d3e !important; }
#givey #page a {
  color: #c82650;
  border-color: #c82650; }
  #givey #page a:hover {
    color: #9d1e3f;
    border-color: #9d1e3f; }

.active-profile {
  background: #242426; }

#tdc article:nth-child(2n) {
  background-color: #fdfff6; }
#tdc blockquote {
  background: #c00816; }
#tdc #page a {
  color: #c00816;
  border-color: #c00816; }
  #tdc #page a:hover {
    color: #8f0610;
    border-color: #8f0610; }

#tedx article.content,
#tedx article.ongoing {
  background-color: #fafafa; }
#tedx article.visual {
  background: #e22418;
  color: #fff; }
#tedx blockquote {
  background: #e62b1e; }
#tedx #page a {
  color: #e62b1e;
  border-color: #e62b1e; }
  #tedx #page a:hover {
    color: #00d4f9;
    border-color: #00d4f9; }
